.table td {
	text-align: center;
	vertical-align: middle;
}
.table th {
	text-align: center;
	vertical-align: middle;
}

.numin {
	color: white;
	background-color: transparent;
	border-style: none;
}

.dropdown-item:hover {
	background-color: black;
	color: white !important;
}
.ddbt {
	display: none;
}

.pricecolor {
	color: #ff8000 !important;
}

.ui-autocomplete {
	position: absolute;
	z-index: 9998 !important;
	max-height: 300px;
	overflow-y: scroll;
	overflow-x: hidden;
	cursor: default;
	padding: 0;
	margin-top: 2px;
	list-style: none;
	background-color: #ffffff;
	border: 1px solid #ccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.ui-autocomplete > li {
	padding: 3px 20px;
}
.ui-autocomplete > li.ui-state-focus {
	background-color: #ddd;
}
.ui-helper-hidden-accessible {
	display: none;
}

.switch input {
	display: none;
}

.switchedit input {
	display: none;
}
.switch {
	vertical-align: sub;
	position: center;
	display: inline-block;
	width: 50px;
	height: 20px;
	margin: 2px;
	margin-bottom: 10px;
	transform: translateY(50%);
	position: relative;
}

.switchedit {
	vertical-align: sub;
	position: center;
	display: inline-block;
	width: 70px;
	height: 20px;
	margin: 2px;
	margin-bottom: 10px;
	transform: translateY(50%);
	position: relative;
}

.slider {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 20px;
	box-shadow: 0 0 0 2px #777, 0 0 4px #777;
	cursor: pointer;
	border: 4px solid transparent;
	overflow: hidden;
	transition: 0.4s;
}
.slider:before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background: #777;
	border-radius: 20px;
	transform: translateX(-50px);
	transition: 0.4s;
}

.slideredit {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 20px;
	box-shadow: 0 0 0 2px #777, 0 0 4px #777;
	cursor: pointer;
	border: 4px solid transparent;
	overflow: hidden;
	transition: 0.4s;
}
.slideredit:before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background: #777;
	border-radius: 20px;
	transform: translateX(-80px);
	transition: 0.4s;
}

.slider2:before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background: orange;
	border-radius: 20px;
	transform: translateX(-50px);
	transition: 0.4s;
	border-color: c !important;
}
input.in2 + .slider {
	box-shadow: 0 0 0 2px orange, 0 0 2px orange;
}

input:checked + .slideredit:before {
	transform: translateX(20px);
	background: limeGreen;
}
input:checked + .slideredit {
	box-shadow: 0 0 0 2px limeGreen, 0 0 2px limeGreen;
}

.in2:checked + .slider:before {
	transform: translateX(10px);
	background: blue;
}
.in2:checked + .slider {
	box-shadow: 0 0 0 2px blue, 0 0 2px blue;
}

input:checked + .slider:before {
	transform: translateX(10px);
	background: limeGreen;
}
input:checked + .slider {
	box-shadow: 0 0 0 2px limeGreen, 0 0 2px limeGreen;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.tt table {
	width: 100%;
	height: 50px;
	text-align: center;
}

.loader,
.loader:after {
	border-radius: 50%;
	width: 5em;
	height: 5em;
}
.loader {
	font-size: 10px;
	position: relative;
	text-indent: -9999em;
	border-top: 1.1em solid rgba(255, 255, 255, 0.2);
	border-right: 1.1em solid rgba(255, 255, 255, 0.2);
	border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
	border-left: 1.1em solid #ffffff;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: load8 1.1s infinite linear;
	animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

#your_loading {
	margin: 20px;
	width: 100px;
	height: 8px;
	position: absolute;
	right: 0px;
	top: -15px;
}

.udbtn {
	background-color: transparent;
	border-radius: 10px;
	padding: 2px 10px;
	color: #ffffff;
	display: inline-block;
	font: normal 700 9px/1 "Calibri", sans-serif;
	text-align: center;
	text-shadow: none;
	opacity: 0.4;
	z-index: 9999999;
	cursor: pointer;
}

.udbtn:hover {
	opacity: 5 !important;
	background: #3d85c6;
	background: -webkit-linear-gradient(#3d85c6, #073763);
	background: linear-gradient(#3d85c6, #073763);
	z-index: 9999999;
	cursor: pointer;
}

.sortable {
	margin-top: 2em;
	border: 3px solid grey;
	border-radius: 50px;
}
.delrow {
	vertical-align: bottom;
}

.tt td {
	width: 50px;
	height: 100px;
	text-align: center;
	color: white;
}

.cscolor {
	color: white;
}

.ttu {
	color: white;
}

.tts td {
	border-top: none;
	border: 2px solid grey;
	width: 25px;
	height: 10px;
	text-align: center;
	border-radius: 1em;
	color: white;
}
.awcolor {
	color: white !important;
}

span {
	font-size: 130%;
	text-align: center;
}
body {
	background-color: #262626;
	overflow-x: hidden;
	overflow-y: hidden;
	font-size: 120%;
}
.bigsort {
	background-color: #262626;
	overflow-y: auto !important;
}
.slimall {
	background-color: #262626;
}

.slim2 a {
	color: white !important;
}

.mtr2 {
	background-color: red;
}

.tvhover:hover {
	color: limegreen !important;
	cursor: pointer;
}

a.w2 {
	color: white;
	text-align: center;
}

span.w2 {
	color: white !important;
}

td.w {
}

img.bil1 {
	height: 95px;
	width: 95px;
	float: left;
}

.your-clock {
	zoom: 0.4;
	-moz-transform: scale(0.4);
}

.navbarcustom {
	background-color: orange !important;
}

.nav-link:not(:active) {
	color: orange !important;
}

.nav-link:hover {
	color: blue !important;
}
.nav-link:focus {
	color: brown !important;
}

li.list-group-item {
	padding: 0 !important;
}

.centered-text {
	text-align: center !important;
}

hr {
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #eeeeee -moz-use-text-color #ffffff;
	border-style: solid none;
	border-width: 1px 0;
	margin: 0px 0;
}

.modal-content {
	background-color: lightslategray !important;
}

.btnnew {
	background: #38761d;
	border-radius: 5px;
	padding: 3px 10px;
	color: #ffffff;
	display: inline-block;
	font: normal 700 24px/1 "Calibri", sans-serif;
	text-align: center;
	text-shadow: none;
}
.btn2 {
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
	font-family: Arial;
	color: #ffffff;
	font-size: 20px;
	background: grey;
	padding: 5px 10px 5px 10px;
	text-decoration: none;
}

.btn2:hover {
	background: red;
}

/* line 3, ../sass/_offline-theme-base-indicator.sass */
.offline-ui,
.offline-ui *,
.offline-ui:before,
.offline-ui:after,
.offline-ui *:before,
.offline-ui *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* line 6, ../sass/_offline-theme-base-indicator.sass */
.offline-ui {
	display: none;
	position: fixed;
	background: white;
	z-index: 2000;
	display: inline-block;
}
/* line 13, ../sass/_offline-theme-base-indicator.sass */
.offline-ui .offline-ui-retry {
	display: none;
}
/* line 16, ../sass/_offline-theme-base-indicator.sass */
.offline-ui.offline-ui-up {
	display: none;
}
/* line 19, ../sass/_offline-theme-base-indicator.sass */
.offline-ui.offline-ui-down {
	display: block;
}

/* line 8, ../sass/offline-theme-chrome-indicator.sass */
.offline-ui {
	-webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15);
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15);
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	-ms-border-radius: 4px 4px 0 0;
	-o-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	font-family: "Lucida Grande", sans-serif;
	font-size: 12px;
	padding: 7px;
	background: #f6f6f6;
	color: #888888;
	bottom: 0;
	left: 20px;
}
/* line 19, ../sass/offline-theme-chrome-indicator.sass */
.offline-ui .offline-ui-content {
	padding-left: 16px;
}
/* line 22, ../sass/offline-theme-chrome-indicator.sass */
.offline-ui .offline-ui-content:after {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	bottom: 1px;
	left: 8px;
	margin: auto;
	height: 9px;
	width: 9px;
}
/* line 36, ../sass/offline-theme-chrome-indicator.sass */
.offline-ui.offline-ui-up .offline-ui-content:after {
	background: #80d580;
}
/* line 41, ../sass/offline-theme-chrome-indicator.sass */
.offline-ui.offline-ui-down .offline-ui-content:after {
	background: #ec8787;
}
/* line 6, ../sass/_content.sass */
.offline-ui .offline-ui-retry:before {
	content: "Reconnect";
}
/* line 11, ../sass/_content.sass */
.offline-ui.offline-ui-up .offline-ui-content:before {
	content: "Your computer is connected to the internet.";
}
@media (max-width: 1024px) {
	/* line 11, ../sass/_content.sass */
	.offline-ui.offline-ui-up .offline-ui-content:before {
		content: "Your device is connected to the internet.";
	}
}
@media (max-width: 568px) {
	/* line 11, ../sass/_content.sass */
	.offline-ui.offline-ui-up .offline-ui-content:before {
		content: "Your device is connected.";
	}
}
/* line 22, ../sass/_content.sass */
.offline-ui.offline-ui-down .offline-ui-content:before {
	content: "Your computer lost its internet connection.";
}
@media (max-width: 1024px) {
	/* line 22, ../sass/_content.sass */
	.offline-ui.offline-ui-down .offline-ui-content:before {
		content: "Your device lost its internet connection.";
	}
}
@media (max-width: 568px) {
	/* line 22, ../sass/_content.sass */
	.offline-ui.offline-ui-down .offline-ui-content:before {
		content: "Your device isn't connected.";
	}
}
/* line 33, ../sass/_content.sass */
.offline-ui.offline-ui-down.offline-ui-connecting .offline-ui-content:before,
.offline-ui.offline-ui-down.offline-ui-connecting-2s
	.offline-ui-content:before {
	content: "No internet. Attempting to reconnect...";
}
/* line 42, ../sass/_content.sass */
.offline-ui.offline-ui-down.offline-ui-waiting
	.offline-ui-content[data-retry-in-unit="second"]:before {
	content: "No internet. Try reconnecting in " attr(data-retry-in-value)
		" seconds...";
}
@media (max-width: 568px) {
	/* line 42, ../sass/_content.sass */
	.offline-ui.offline-ui-down.offline-ui-waiting
		.offline-ui-content[data-retry-in-unit="second"]:before {
		content: "No internet. Reconnecting in " attr(data-retry-in-value) "s...";
	}
}
/* line 50, ../sass/_content.sass */
.offline-ui.offline-ui-down.offline-ui-waiting
	.offline-ui-content[data-retry-in-unit="second"][data-retry-in-value="1"]:before {
	content: "No internet. Reconnecting in " attr(data-retry-in-value)
		" second...";
}
@media (max-width: 568px) {
	/* line 50, ../sass/_content.sass */
	.offline-ui.offline-ui-down.offline-ui-waiting
		.offline-ui-content[data-retry-in-unit="second"][data-retry-in-value="1"]:before {
		content: "No internet. Reconnecting in " attr(data-retry-in-value) "s...";
	}
}
/* line 58, ../sass/_content.sass */
.offline-ui.offline-ui-down.offline-ui-waiting
	.offline-ui-content[data-retry-in-unit="minute"]:before {
	content: "No internet. Reconnecting in " attr(data-retry-in-value)
		" minutes...";
}
@media (max-width: 568px) {
	/* line 58, ../sass/_content.sass */
	.offline-ui.offline-ui-down.offline-ui-waiting
		.offline-ui-content[data-retry-in-unit="minute"]:before {
		content: "No internet. Reconnecting in " attr(data-retry-in-value) "m...";
	}
}
/* line 66, ../sass/_content.sass */
.offline-ui.offline-ui-down.offline-ui-waiting
	.offline-ui-content[data-retry-in-unit="minute"][data-retry-in-value="1"]:before {
	content: "No internet. Reconnecting in " attr(data-retry-in-value)
		" minute...";
}
@media (max-width: 568px) {
	/* line 66, ../sass/_content.sass */
	.offline-ui.offline-ui-down.offline-ui-waiting
		.offline-ui-content[data-retry-in-unit="minute"][data-retry-in-value="1"]:before {
		content: "No internet. Reconnecting in " attr(data-retry-in-value) "m...";
	}
}
/* line 74, ../sass/_content.sass */
.offline-ui.offline-ui-down.offline-ui-waiting
	.offline-ui-content[data-retry-in-unit="hour"]:before {
	content: "No internet. Reconnecting in " attr(data-retry-in-value) " hours...";
}
@media (max-width: 568px) {
	/* line 74, ../sass/_content.sass */
	.offline-ui.offline-ui-down.offline-ui-waiting
		.offline-ui-content[data-retry-in-unit="hour"]:before {
		content: "No internet. Reconnecting in " attr(data-retry-in-value) "h...";
	}
}
/* line 82, ../sass/_content.sass */
.offline-ui.offline-ui-down.offline-ui-waiting
	.offline-ui-content[data-retry-in-unit="hour"][data-retry-in-value="1"]:before {
	content: "No internet. Reconnecting in " attr(data-retry-in-value) " hour...";
}
@media (max-width: 568px) {
	/* line 82, ../sass/_content.sass */
	.offline-ui.offline-ui-down.offline-ui-waiting
		.offline-ui-content[data-retry-in-unit="hour"][data-retry-in-value="1"]:before {
		content: "No internet. Reconnecting in " attr(data-retry-in-value) "h...";
	}
}
/* line 90, ../sass/_content.sass */
.offline-ui.offline-ui-down.offline-ui-reconnect-failed-2s.offline-ui-waiting
	.offline-ui-retry {
	display: none;
}
/* line 93, ../sass/_content.sass */
.offline-ui.offline-ui-down.offline-ui-reconnect-failed-2s
	.offline-ui-content:before {
	content: "Connection attempt failed.";
}
